.form-contacto{
    border: 1px solid rgb(174, 173, 173);
    border-radius: 8px;
    width: 350px;
    height: 350px;
    margin-left: 35%;
    margin-top: 150px;
    text-align: center;
    
    font-size: 18px;
}
.form-contacto h1{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin-top: 15px;
}
.contacto{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nombre-contacto{
    margin:10px;
}
.nombre-contacto input{
    width: 250px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
}
.nombre-contacto input:hover{
    border: 1px solid blue;
}
.apellido-contacto input{
    width: 250px;
    height: 30px;
}
.apellido-contacto input:hover{
    border: 1px solid blue;
}

.correo-contacto input{
    width: 250px;
    height: 30px;
}

.correo-contacto input:hover{
    border: 1px solid blue;
}
.tel-contacto input{
    width: 250px;
    height: 30px;
}
.tel-contacto input:hover{
    border: 1px solid blue;
}
.textA-contacto textarea{
    width: 73%;
   
    max-width: 73%; /* Para asegurarte de que no exceda el ancho del formulario */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}
.textA-contacto textarea:hover{
    border: 1px solid blue;
}
.contacto button{
    background-color: rgb(154, 154, 157);
    border:1px solid black;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    width: 70px;
    height: 30px;
    margin-left: 150px;
}
.contacto button:hover{
    color: rgb(245, 245, 245);
    background-color: black;
}

